services:
  - type: web
    name: ecommerce
    env: python
    plan: free

    buildCommand: "./backend/build.sh"
    startCommand: "cd backend && gunicorn backend.wsgi:application --timeout 120"
    postDeployCommand: "cd backend && python manage.py migrate --noinput"

    envVars:
      - fromDotEnv: true
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce_db
          property: connectionString
      - key: ENVIRONMENT
        value: production
