services:
  - type: web
    name: ecommerce
    env: python
    buildCommand: "backend/./build.sh"
    startCommand: "backend/gunicorn backend.wsgi:application"
    postDeployCommand: "cd backend && python manage.py migrate --noinput"
    envVars:
      - fromDotEnv: true
    plan: free

databases:
  - name: ecommerce_db
    plan: free

envVars:
  - fromDotEnv: true
  - key: DATABASE_URL
    fromDatabase:
      name: ecommerce_db
      property: connectionString
