services:
  - type: web
    name: ecommerce
    env: python
    buildCommand: |
      cd backend
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput

    startCommand: cd backend && gunicorn backend.wsgi:application --timeout 120

    postDeployCommand: |
      cd backend
      python manage.py migrate --noinput

    plan: free

    envVars:
      - fromDotEnv: true
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce_db
          property: connectionString

databases:
  - name: ecommerce_db
    plan: free
