services:
  - type: web
    name: ecommerce
    env: python
    rootDirectory: backend       # Important
    buildCommand: "./build.sh"
    startCommand: "gunicorn backend.wsgi:application --timeout 120"
    postDeployCommand: "export DJANGO_SETTINGS_MODULE=backend.settings && python manage.py migrate --noinput"
    plan: free
    envVars:
      - fromDotEnv: true