services:
  - type: web
    name: ecommerce
    env: python
    plan: free

    buildCommand: |
      pip install --upgrade pip
      chmod +x build.sh
      ./build.sh

    startCommand: gunicorn backend.wsgi:application --timeout 120

    postDeployCommand: python manage.py migrate --noinput

    envVars:
      - fromDotEnv: true
      - key: DJANGO_SETTINGS_MODULE
        value: backend.settings
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce_db
          property: connectionString

databases:
  - name: ecommerce_db
    plan: free