services:
  - type: web
    name: ecommerce
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      export DJANGO_SETTINGS_MODULE=backend.settings
      cd backend
      python manage.py collectstatic --noinput

    startCommand: gunicorn backend.wsgi:application --timeout 120
    postDeployCommand: python manage.py migrate
    envVars:
      - fromDotEnv: true

databases:
  - name: ecommerce_db
    plan: free

envVars:
  - fromDotEnv: true
  - key: DATABASE_URL
    fromDatabase:
      name: ecommerce_db
      property: connectionString
